.appreciate-your-body.video-selector {
  .title-container {
    align-items: center;
    color: white;
    font-family: "Ropa Soft PTT", sans-serif;
    padding: 60px 0 20px;
    text-align: center;

    h1 {
      font-size: 96px;
      line-height: 1;
      margin: 0;
    }

    h2 {
      font-size: 46px;
      margin: 0;
    }
  }

  .selection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1350px;

    .selection-item {
      height: 300px;
      margin: 20px 30px;
      padding: 40px 30px 10px 20px;
      width: 330px;
      z-index: 500;

      &:active {
        filter: brightness(90%);
        transform: scale(0.95);
      }

      img {
        height: 150px;
        margin: 0 auto;
        width: 150px;
      }

      &.hide-selection {
        z-index: -1;
      }

      &:nth-child(even) {
        background: url("/images/mindful-bg-2.png") 0 0 no-repeat;
      }

      &:nth-child(odd) {
        background: url("/images/mindful-bg-1.png") 0 0 no-repeat;
      }

      .text-wrap {
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: center;
        padding: 8px 50px 0;
        text-align: center;
        text-wrap: pretty;

        .selection-title {
          align-items: center;
          color: var(--teal);
          display: flex;
          font-family: "Ropa Soft PTT", sans-serif;
          font-size: 38px;
          height: 75px;
          justify-content: center;
          line-height: 0.95;
          margin: 0;
        }

        .selection-description {
          color: var(--teal);
          font-family: "Avenir Next Condensed", sans-serif;
          font-size: 12px;
          font-weight: 400;
          margin: 0;
        }
      }

      /*
      Third item: Progressive Muscle Relaxation needs to be on two lines.
      Five Senses wraps at a different padding point. Relax padding on PMR.
      */
      &:nth-child(3) {
        .text-wrap {
          padding: 0 35px;
        }
      }
    }
  }

  .divider {
    border: 1px solid blue;
    width: 50%;
  }

  .hide-player-wrapper {
    opacity: 0;
    transition: opacity 1s;
  }

  .show-player-wrapper {
    opacity: 1;
    transition: opacity 1s;
  }

  .wrapper {
    background-color: black;
  }

  #player-container {
    display: flex;
    height: 1080px;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1920px;
  }

  video {
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }

  .progress {
    background: white;
    height: 20px;
    position: absolute;
    top: 1060px;
    width: 1920px;

    .progress-fill {
      background-color: #fe5f1a;
      height: 20px;
    }
  }

  .icon {
    background: url("back.svg") no-repeat;
    color: white;
    height: 65px;
    width: 65px;
  }

  .transport-container {
    border-radius: 50%;
    left: 50px;
    position: absolute;
    top: 50px;

    &:active {
      filter: brightness(90%);
      transform: scale(0.95);
    }
  }

  .loading {
    align-items: center;
    background-color: #00415c;
    color: white;
    display: flex;
    font-family: "Ropa Soft PTT", sans-serif;
    font-size: 36px;
    height: 1080px;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 1920px;
  }
}
