/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-missing-end-of-source-newline */
/* stylelint-disable no-invalid-position-at-import-rule */

/* Variables */
:root {
  --darkblue: #00415c;
  --lightblue: #88b0cd;
  --teal: #005874;
  --lightteal: #97d2dd;
  --purple: #823760;
}

/* Fonts */
@font-face {
  font-family: "Ropa Soft PTT";
  font-weight: 700;
  src: url("/fonts/Ropa-Soft-PTT-Bold.ttf");
}

@font-face {
  font-family: "Ropa Soft PTT";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/Ropa-Soft-PTT-Bold-Italic.ttf");
}

@font-face {
  font-family: "Ropa Soft PTT";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/Ropa-Soft-PTT-ExtraBold-Italic.ttf");
}

@font-face {
  font-family: "Avenir Next Condensed";
  font-weight: 600;
  src: url("/fonts/Avenir-Next-Condensed-Demi-Bold.ttf");
}

@font-face {
  font-family: "Avenir Next Condensed";
  font-weight: 400;
  src: url("/fonts/Avenir-Next-Condensed-Regular.ttf");
}

/* Base Styles */
html,
body {
  margin: 0;
}

body {
  height: 1080px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  user-select: none;
  width: 1920px;
}

img {
  display: block;
}

/* Index Level Video Selectors */
.selector-selector .card {
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  margin: 10px;
  padding: 10px;
  padding-bottom: 28px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  width: 200px;
}

.selector-selector .card:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

/* Specific Styles for Each Page & Video Selector Styles */
@import "brain-injuries.css";
@import "appreciate-your-body.css";
@import "video-selector.css";
